marquee {
  font-size: 25px;
  font-weight: bold;
  color: #ff0000;
  animation-name: hehe;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
    @keyframes hehe {
      0% {
        color: #8E0E00;
      }
  
      10% {
        color: #1F1C18;
      }
  
      20% {
        color: #8E0E00;
      }
  
      30% {
        color: #1F1C18;
      }
  
      40% {
        color: #8E0E00;
      }
  
      50% {
        color: #1F1C18;
      }
  
      60% {
        color: #8E0E00;
      }
  
      70% {
        color: #1F1C18;
      }
  
      80% {
        color: #8E0E00;
      }
  
      90% {
        color: #1F1C18;
      }
  
      100% {
        color: #8E0E00;
      }
    }
  
    /* marquee */
     /* navbar */
     .e{
      width: 100%;
      max-width: 100%;
      }
  
      .logo{
      height: 80px;
      width: 250px;
      padding-left: 10px;
     }
  
  
    .nav-link:hover{
      border-bottom: 2px solid white;
  
    }
    .container2{
      margin-left: 50px;
    }
  
     .card2 img{
    
    max-width: 100%;
    height: auto;
  }
  .card2 {
    width:240px;
    height: 250px;
  }
  .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.8);
}

.navbar-toggler-icon {
  background-color: white;
}
    /* navbar */
    /* heading */
 h1 {
  color: #000;
  position: relative;
  text-decoration: none;
  text-align: center; 
  font-family: serif;
}

h1::before {
  background:#afc5cf;
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

h1:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}


 /* heading */

 /* Adjust for smaller screens */
  @media (max-width: 768px) {
    /* Adjust the heading positioning for smaller screens */
    h1.display-4 {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 2.5rem; /* Reduce font size */
      padding-top: 20px; /* Add padding for spacing */
    }

    /* Adjust the text size for smaller screens */
    h3 {
      font-size: 1.5rem; /* Reduce font size */
      padding: 20px;
    }
  }

  /* For mobile devices (portrait mode) */
  @media (max-width: 480px) {
    /* Make image width full-screen and adjust header */
    .img img {
      width: 100%;
      height: auto;
    }

    /* Adjust the h1 heading size */
    h1.display-4 {
      font-size: 2rem; /* Smaller font size for mobile */
      top: 20px;
    }

    /* Adjust the text size for smaller mobile screens */
    h3 {
      font-size: 1.2rem; /* Smaller text for mobile */
      padding: 10px;
    }
  }