marquee {
  font-size: 25px;
  font-weight: bold;
  color: #ff0000;
  animation-name: hehe;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

  @keyframes hehe {
    0% {
      color: #8E0E00;
    }

    10% {
      color: #1F1C18;
    }

    20% {
      color: #8E0E00;
    }

    30% {
      color: #1F1C18;
    }

    40% {
      color: #8E0E00;
    }

    50% {
      color: #1F1C18;
    }

    60% {
      color: #8E0E00;
    }

    70% {
      color: #1F1C18;
    }

    80% {
      color: #8E0E00;
    }

    90% {
      color: #1F1C18;
    }

    100% {
      color: #8E0E00;
    }
  }

  /* marquee */
   /* navbar */
   .e{
    width: 100%;
    max-width: 100%;
    }

    .logo{
    height: 80px;
    width: 250px;
    padding-left: 10px;
   }


  .nav-link:hover{
    border-bottom: 2px solid white;

  }
  .form{
   background-color:#203A43 ;
   width: 450px;
   height: 580px;
   position: relative;
   line-height: 40px;
   right: 140px;
   color: white;
}
.form-control{
  border: 0;
  outline: 0;
  border-bottom: 2px solid #f8f9fa;
  width: 100%;
  background: transparent;
  padding: 10px 0;
  transition: 0.3s ease;
  color: #fff;
  outline: #27374D;
  outline-color: #27374D;
  }
  .form-control:focus{
    background-color: #203A43;
  }
  .form-control::placeholder{
   background: transparent;
    color: white;
  }
  .by{
    height: 500px;
    width: 450;
    position: relative;
    right: 30px;
    top: 40px;
  }
  .bx{
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .set{
     position: relative;
     right: 60px;
  }
  input{
  outline: none;
  background-color: #2c3e50;
 }
 .ii{
    background-color: white;
    color: #203A43;
 }
 .k:hover{
  background-color: #2c3e50;
 
}
.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.8);
}

.navbar-toggler-icon {
background-color: white;
}
  /* navbar */
